</script>
<% content_for :title do %>nMon Website Monitoring Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row='1' data-col='1' data-sizex='1' data-sizey='1'>
  <div data-id='pingdom-summary'
      data-title='Pingdom'
      data-view='PingdomSummary'></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="PingdomUptime"
         data-id="pingdom-uptime-dashboard"
         data-title="Dashboard"></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" >
      <div data-view="List" data-id="check_ids" data-title="Hostcheck IDs"></div>
</li>
  </ul>
